<!DOCTYPE html>
<html>
   <head>
       <% include ../partials/head %>   
   </head>
   <body>
       <% include ../partials/header %>
       <div class="container">
           <div class="jumbotron text-center">
               <h1>Oooops!!! ¿Dónde vas?</h1>
               <p>Error 404: <small>página no encontrada</small></p>
           </div>
           <img class="img-responsive center-block" src="/images/404.gif">
       </div>
   </body>
</html>