<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <div class="container">
      <div class="jumbotron">
        <form class="form-register" action="/signup" method="post">
            <h2 class="form-signin-heading">Registrarse</h2>
            <label for="inputUser">Usuario:</label>
            <input type="text" id="inputUser" class="form-control" placeholder="Usuario" required autofocus name="username">
            <%if(data.errorUsername){%>
            <span style="color:red">*Nombre ya utilizado</span>
            <br>                     
            <%}%>
            <label for="inputPassword">Contraseña(mín. 8 caracteres, una mayúscula, una minúscula y un caracter especial o número):</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required name="pass" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
            
            <label for="inputEmail">Correo:</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Correo" required name="email">
            
            <label for="inputName">Nombre:</label>
            <input type="text" id="inputName" class="form-control" placeholder="Nombre" required name="name">
            
            
            <label for="inputDate">Fecha de nacimiento:</label>
            <input min="1917-01-01" type="date" id="inputDate" class="form-control" required name="date">
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
        </form>   
      </div>
       
    </div>
</body>
</html>