<!DOCTYPE html>
<html>
   <head>
       <% include ../partials/head %>
       <script src="js/userSettings.js"></script>
   </head>
   <body>
    <% include ../partials/header %>
    <div class="container">
      <div class="jumbotron">
        <form onsubmit="javascript:return checkPass();" name="formUpdate" class="form-update" action="/userSettings" method="post">
            <h2 class="form-signin-heading">Cambiar datos</h2>
            
            <label for="actualUser">Usuario actual:</label>
            <input type="text" id="actualUser" disabled class="form-control" value="<%= data.user %>">
            <label for="newUser">Usuario nuevo:</label>
            <input type="text" id="newUser" class="form-control" placeholder="Usuario" name="newUser">
            <%if(data.errorUsername){%>
            <span style="color:red">*Nombre ya utilizado</span>                      
            <%}%>
            <br>
            <label for="newPassword">Contrase単a nueva:</label>
            <input type="password" id="newPassword" class="form-control" placeholder="Contrase単a" name="newPass">
            <label for="reNewPassword">Repite la contrase単a nueva:</label>
            <input type="password" id="reNewPassword" class="form-control" placeholder="Contrase単a" name="reNewPass">
            <br>
            <label for="actualEmail">Correo:</label>
            <input type="text" id="actualEmail" class="form-control" value="<%= data.email%>" disabled name="actualEmail">
            <label for="newEmail">Nuevo correo:</label>
            <input type="text" id="newEmail" class="form-control" placeholder="Nuevo correo" name="newEmail">
            <br>
            <label for="actualName">Nombre actual:</label>
            <input type="text" id="actualName" class="form-control" value="<%= data.name %>" name="actualName" disabled>
            <label for="newName">Nuevo nombre:</label>
            <input type="text" id="newName" class="form-control" placeholder="Nuevo nombre" name="newName">
            <br>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Actualizar</button>
        </form> 
      </div>
    </div>
   </body>
</html>